.slider {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 13px;
    justify-content: space-around;
    position: relative;
}

.sl-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
}

.slider-button {
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    background-color: #009DE014;
    cursor: pointer;
}

.slider-button:hover {
    background-color: #009de027;
}

.arrow {
    border: solid #009de0;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.leftB {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.rightB {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.slider-img {
    display: flex;
    flex: 3;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 2%;
}

.sl-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sl-a:hover {
    transform: scale(1.05);
}

.slider-img .sl-a {
    width: 100%;
    transition: 0.5s all ease-in-out;
}

.sl-img-text {
    position: absolute;
    bottom: 2px;
    left: 16px;
    color: rgb(255, 255, 255);
    font-family: Roboto, Open Sans, sans-serif;
}

.slider-h1 {
    font-size: 32px;
}

.slider-p {
    font-size: 18px;
}

@media screen and (max-width: 1550px) {
    .slider {
        transform: scale(0.985);
    }
}

@media screen and (max-width: 1350px) {
    .slider {
        transform: scale(0.85);
    }
}

@media screen and (max-width: 1024px) {
    .slider {
        transform: scale(0.8);
    }

    .sl-img-right {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .slider {
        transform: scale(0.7);
    }

    .slider-img {
        height: 350px;
    }

    .slider-button {
        height: 35px;
        width: 35px;
    }

    .slider-h1 {
        font-size: 27px;
    }

    .slider-p {
        font-size: 15px;
    }
}






