@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  max-width: 1700px;
  margin: 0 auto;
}

.food-items{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
}

.icon{
  width: 13px;
}

.food-items-box{
  border: 1px solid rgba(109, 103, 103, 0.24);
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 6%) 0px 0px 0.125rem 0px, rgb(0 0 0 / 12%) 0px 0.125rem 0.125rem 0;
  max-width: 400px;
  margin: 0 15px;
  transition: transform 0.7s;
  cursor: pointer;
}

.food-items-box:hover{
  transform:scale(1.1);
}

.food-items-box-image{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.food-item-box-middle{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px dashed #c7c1c173;
}

.food-items-box-footer{
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  padding: 5px 0;
}

.food-items-box-footer .icon{
  padding-right: 7px;
}

.time-box{
  color: rgba(0, 52, 224, 0.836);
  background-color: rgba(0, 157, 224, 0.212);
  border-radius: 0.5rem;
  padding: 10px;
  text-align: center;
  font-size: 13px;
}

.delivery-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 15px;
}

.delivery-nav-box span{
  color:rgb(61, 177, 231);
  padding-right: 20px;
  cursor: pointer;
}

.delivery-nav-box span:hover{
  text-decoration: underline;
}

.delivery-nav-button{
  width: 40px;
  height: 40px;
  background-color: rgb(61, 177, 231);
  border-radius: 50%;
  border: none;
  margin-right: 10px;
  transition: transform 0.7s;
  cursor: pointer;
}

.delivery-nav-button:hover{
  background-color: rgb(7, 114, 185);
}

@media (max-width: 1300px) {
  .food-items {
    flex-wrap: wrap;
  }
  .food-items-box{
    margin-bottom: 40px;
  }
}